<li class="nav-item d-none d-sm-inline-block">
    <!-- Apps -->
    <div class="hs-unfold">
        <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options="{
                 &quot;target&quot;: &quot;#appsDropdown&quot;,
                 &quot;type&quot;: &quot;css-animation&quot;
               }" data-hs-unfold-target="#appsDropdown" data-hs-unfold-invoker="">
            <i class="tio-menu-vs-outlined"></i>
        </a>

        <div id="appsDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu hs-unfold-content-initialized hs-unfold-css-animation animated hs-unfold-hidden" style="width: 25rem; animation-duration: 300ms;" data-hs-target-height="450" data-hs-unfold-content="" data-hs-unfold-content-animation-in="slideInUp" data-hs-unfold-content-animation-out="fadeOut">
            <!-- Header -->
            <div class="card-header">
                <span class="card-title h4">Web apps &amp; services</span>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body card-body-height">
                <!-- Nav -->
                <div class="nav nav-pills flex-column">
                    <a class="nav-link" href="http://neo:8079">
                        <div class="media align-items-center">
                            <span class="mr-3">
                                <i class="fad fa-truck nav-icon"></i>
                            </span>
                            <div class="media-body text-truncate">
                                <span class="h5 mb-0">Operations</span>
                                <span class="d-block font-size-sm text-body">Triton Express operations system</span>
                            </div>
                        </div>
                    </a>

                    <a class="nav-link" href="http://neo:8005">
                        <div class="media align-items-center">
                            <span class="mr-3">
                                <i class="fad fa-comments-alt-dollar nav-icon"></i>
                            </span>
                            <div class="media-body text-truncate">
                                <span class="h5 mb-0">CRM</span>
                                <span class="d-block font-size-sm text-body">Pentagon system</span>
                            </div>
                        </div>
                    </a>

                    <a class="nav-link" href="http://neo:8006">
                        <div class="media align-items-center">
                            <span class="mr-3">
                                <i class="fad fa-users nav-icon"></i>
                            </span>
                            <div class="media-body text-truncate">
                                <span class="h5 mb-0">HRM</span>
                                <span class="d-block font-size-sm text-body">Human resources management</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- End Nav -->
            </div>
            <!-- End Body -->
            <!-- Footer -->
            @*<a class="card-footer text-center" href="#">
                View all apps
                <i class="tio-chevron-right"></i>
            </a>*@
            <!-- End Footer -->
        </div>
    </div>
    <!-- End Apps -->
</li>
